<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094493032041-sq30ar6e0j6c23bt76rr1808b32psuej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094493032041-sq30ar6e0j6c23bt76rr1808b32psuej</string>
	<key>API_KEY</key>
	<string>AIzaSyBzQ_SXiDgMRp6XYONmBo9mqtkoo9MmuIs</string>
	<key>GCM_SENDER_ID</key>
	<string>1094493032041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fst.firebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>fst-firebase-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>fst-firebase-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094493032041:ios:3e8dc0b4d4641ef7781cf8</string>
</dict>
</plist>